.main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    background-color: var(--card-bg);
    border-top: 1px solid var(--border-color);
    color: var(--text-light);
    font-size: 0.8rem; 
    z-index: 99;
}

.main-footer a {
    color: var(--primary-color);
    text-decoration: none;
}
